<fsk xmlns="http://www.kinoma.com/Fsk/1"><rootvm><environment><variable name="sourcePath" value="[applicationPath]../"/><variable name="scriptPath" value="[sourcePath]tinyhttp/support/"/><variable name="assetsPath" value="[scriptPath]assets/"/></environment><ui><font href="[sourcePath]fonts/"/></ui><mime><media type="image"><subtype name="jpeg" extension="jpg,jpeg,thm"/><subtype name="png" extension="png"/><subtype name="x-sony-raw" extension="xsraw"/></media></mime><extension href="textenginewtle"/><extension href="Fskin"/><extension href="MediaDetect"/><extension href="MediaMount"/><extension href="Fsys"/><extension href="fsFsys"/><extension href="usbExt"/><extension href="BrewUnifiedRoot"/></rootvm><include href="[sourcePath]app/scripts/kconfig.xml"/></fsk>
