<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.w300.native-probe</string>
<key>CFBundleName</key><string>W300 USB Probe</string>
<key>CFBundleExecutable</key><string>w300_native_probe</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleVersion</key><string>1</string>
<key>NSUSBDeviceUsageDescription</key><string>Read Sony DSC-W300 identification through USB.</string>
</dict></plist>
